# non-inverting input buffer, CMOS: ICF
# non-inverting input buffer, CMOS, with pull-up/pull-down: ICUDF
# tri-state output buffer: BTxyF
#   BT8SMF: 8ma drive, medium speed
# power pads: GNDORPAD*
#             VDDORPAD*
# optional:   VDDPAD for 1.8V core voltage

AREA 1040 1040;
GRID 1;
FILLER FILLER;
CORNER CORNER1 NW CORNERESDF;
CORNER CORNER2 SW CORNERESDF;
CORNER CORNER3 SE CORNERESDF;
CORNER CORNER4 NE CORNERESDF;

# NORTH
PAD IO1 N BT8SMF;
PAD IO2 N BT8SMF;
PAD IO3 N BT8SMF;
PAD IO4 N BT8SMF;
PAD IO5 N BT8SMF;
PAD IO6 N BT8SMF;
PAD IO7 N BT8SMF; 
PAD IO8 N BT8SMF;

# EAST
PAD VDD3V3_1 E VDDORPADF;
SPACE 0;
PAD GND_1 E GNDORPADF;

# WEST
PAD VDD3V3_2 W VDDORPADF;
SPACE 0;
PAD GND_2 W GNDORPADF;

# SOUTH
PAD IO1B S BT8SMF;
PAD IO2B S BT8SMF;
PAD IO3B S BT8SMF;
PAD IO4B S BT8SMF;
PAD IO5B S BT8SMF;
PAD IO6B S BT8SMF;
PAD IO7B S BT8SMF; 
PAD IO8B S BT8SMF;
